/* Footer stlyes */
.footer {
    background-color: burlywood;
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer > .logo-footer img {
    width: 180px;
    height: 100%;
    border-radius: 50%;
    filter: brightness(100%);
}

.footer > .footer-name-shop {
    margin-top: 15px;
    margin-bottom: -2px;
}

.footer > .footer-name-shop span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer > .footer-name-shop > .name {
    font-size: 0.8em;
    text-transform: uppercase;
}

.footer > .footer-name-shop > .shop {
    font-size: 0.8em;
    text-transform: uppercase;
}

.footer > .links-wrapper {
    margin-top: 26px;
    margin-bottom: 26px;
    width: 400px;
}

.footer > .social-media-icons-wrapper {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    font-size: 1.5em;
    transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
    color: #F7F5F8;
}

.footer > .copyright-wrapper {
    margin-top: 10px;
    margin-bottom: 42px;
    font-size: 0.7em;
}